.navbar {
    display: flex;
    background: #ccc;
    align-items: center;
    padding: 10px 40px;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color:#3b4248;
        transform: skewX(-6deg) translate(-10px);
        padding: 0 25px;
        img {
            width: 100px;
        }
    }

    &__options {
        display: grid;
        width: 100%;
        justify-content: end;
        padding-right: 100px;
        grid-template-columns: repeat(3, auto);
        grid-gap: 50px;
        list-style-type: none;

        &__option a{
            text-decoration: none;
        }
        &__option a:hover{
            background-color: #D79526;
            color: #24cbd2;
        }
    }
    
}
.mobile-option {
    display: none;
}
.mobile-menu {
    display: none;
    font-size: 20px;
}
@media (max-width: 648px) {
    /*Mobile View */
    .navbar {
        &__options {
            display: flex;
            height: 350px;
            position: absolute;
            top: 75px;
            left: -100%;
            opacity: 0;
            transition: all 0.5s ease;
            flex-direction: column;
            list-style-type: none;
            grid-gap: 0px;

            &__option {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10vw;
                padding: 30px 0px;
            }
        }
    }
    .active {
        background: #ccc;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        align-content: center;
        padding-left: 0px;
    }
    .mobile-menu {
        width: 100%;
        display: grid;
        justify-content: end;
      }
}