.categories__page-title {
    color: #0fe0f5;
    padding: 20px;
    
}
.categories-category {
    display: block;
    width: 100vw;

    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 500px;
        align-items: center;
        
        &-image {
            display: grid;
            align-items: center;
            position: relative;

            .background__back{
                position: absolute;
                justify-self: end;
                z-index: 1;
                width: 45vw;
                height: 20vh;

                margin: 20px;
                background-color: #f8ba46;
                transform: skewX(-6deg);
            }
            img {
                position: absolute;
                max-width: 50%;
                margin: 20px;
                z-index: 2;
            }
        }

        &-text {
            padding: 30px;
            color: #ccc;
            &__title{
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
            }
            &__description{
                font-size: 16px;
            }
            &__link {
                cursor: pointer;
                font-size: 20px;
                color: #0fe0f5;
                border-bottom: 2px solid #0fe0f5;

                &:hover {
                    color: #24cbd2;
                    border-color: #24cbd2;
                }
            }
            
        }
    }

    &__cars {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        background-color: #ccc;
        height: 220px;
        box-shadow: inset 0px 10px 5px 0px rgba(0,0,0,0.54);
        
        &__card {
            cursor: pointer;
            justify-self: center;
            text-align: center;
            background-color: white;
            &:hover {
                background-color: #0fe0f5;
            }

            &__title{
                font-size: 20px;
            }
            img {
                width: 150px;
            }
        }
        
        
    }
}

.car-hidden {
    display: none!important;
}
.car-show {
    transform-origin:top;
    animation: showCars 0.4s ease-out forwards;
    transition: all 0.4s ease-out;
}



@keyframes showCars {
    0% {
        transform:scaleY(0); 
    }
    100% {
        transform:scaleY(1); 
    }
}

@media (max-width: 768px) {
    /*Mobile View */
    .categories-category {
        &__content {
            display: block;
            margin-top: 20vh;
            &-image .background__back {
                right: 15%;
            }
            
            &-text {
                margin-top: 20vh;
            }
        }
        &__cars {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: 368px) {
    /*Mobile View */
    .categories-category{
        &__content {
            display: block;
            margin-top: 20vh;
            &-image .background__back {
                height: 10vh;
            }
            &-text {
                margin-top: 15vh;
            }
        }
    }

}