.categories-category {
    display: block;
    width: 100vw;

    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 500px;
        align-items: center;
        
        &-image {
            display: grid;
            align-items: center;
            position: relative;

            .background__back{
                position: absolute;
                justify-self: end;
                z-index: 1;
                width: 45vw;
                height: 20vh;

                margin: 20px;
                background-color: #D79526;
                transform: skewX(-6deg);
            }
            img {
                position: absolute;
                max-width: 50%;
                margin: 20px;
                z-index: 2;
            }
        }

        &-text {
            padding: 30px;

            &__title{
                font-size: 24px;
                font-weight: 600;
            }
            &__description{
                font-size: 16px;
            }
            &__link {
                font-size: 20px;
                color: #24cbd2;
            }
            
        }
    }

    &__cars {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        
        &__card {
            justify-self: center;
            text-align: center;

            &__title{
                font-size: 20px;
            }
            img {
                width: 150px;
            }
        }
        
        
    }
}

.car-hidden {
    display: none!important;
}
.car-show {
    transform-origin:top;
    animation: showCars 0.4s ease-out forwards;
    transition: all 0.4s ease-out;
}



@keyframes showCars {
    0% {
        transform:scaleY(0); 
    }
    100% {
        transform:scaleY(1); 
    }
}

@media (max-width: 768px) {
    /*Mobile View */
    .categories-category {
        &__content {
            display: block;
            margin-top: 20vh;
            &-image .background__back {
                right: 15%;
            }
            
            &-text {
                margin-top: 20vh;
            }
        }
        &__cars {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: 368px) {
    /*Mobile View */
    .categories-category{
        &__content {
            display: block;
            margin-top: 20vh;
            &-image .background__back {
                height: 10vh;
            }
            &-text {
                margin-top: 15vh;
            }
        }
    }

}