// img {
//     width: 100px;
// }
.configuration__form{
    display: grid;
    grid-template-rows: [name-s] 100px [name-e titleVersion-s] 80px [titleVersion-e version-s] 1fr [version-e titleColors-s] 80px [titleColors-e image-s] auto [image-e colors-s] 500px [colors-e titleInterior-s] 120px [titleInterior-e interior-s] 1fr [interior-e titleRims-s] 80px [titleRims-e rims-s] 1fr [rims-e submit-s] 100px [submit-e];
    align-items: center;
    justify-content: center;
    color: #3b4248;

    &__name {
        grid-row: name-s/name-e;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
        background-color: #FFB933;
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sectionTitle {
        font-size: 30px;
        font-weight: 600;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__sectionTitle {
        &__version {
            grid-row: titleVersion-s/titleVersion-e;
        }
        &__colors {
            grid-row: titleColors-s/titleColors-e;
        }
        &__interior {
            grid-row: titleInterior-s/titleInterior-e;
        }
        &__rims {
            grid-row: titleRims-s/titleRims-e; 
        }
    }

    &__versions {
        grid-row: version-s/version-e;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &__label {
            display: grid;
            justify-content: center;
            position: relative;
            input {
                display: none;
            }
            input:checked:checked ~ .configuration__form__versions__card{
                background-color: #FFB933;
                border: 2px solid #26bfaa;
                animation: bright 0.4s ease-out forwards;
            }
            
        }
        &__card {
            margin: 5px;
            padding: 10px;
            width: 275px;
            height: 440px;
            transition: all .5s ease-in;
            border: 2px solid #3b4248;
            box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
            &:hover {
                background-color: #FFB933;
            }
            &__title {
                font-size: 18px;
                font-weight: 600;
            }
            &__image {
                img {
                    width: 275px;
                }
            }
            &__list {
                ul {
                    list-style-type: none;
                    font-size: 14px;
                }
            }
            &__price {
                font-size: 18px;
            }
        }
    }

    &__imagen {
        grid-row: image-s/image-e;
        background-color:#ccc;
        display: grid;
        justify-items: center;
        img {
            height: 600px;
        }
    }

    &__colors {
        grid-row: colors-s/colors-e;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        height: 200px;
        label {
            input {
                display: none;
            }
            input:checked:checked ~ .configuration__form__colors__card{
                background-color: #FFB933;
                border: 2px solid #26bfaa;
                animation: bright 0.4s ease-out forwards;
            }
        }
        &__card {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 220px;
            width: 150px;
            border: 2px solid #3b4248;
            box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
            margin-bottom: 25px;
            
            &__color {
                    width: 100px;
                    height: 100px;
            }
            &__name{
                font-size: 18px;
                font-weight: 600;
            }
        }
            
    }

    &__interior {
        grid-row: interior-s/interior-e;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        
        &__card{
            display: grid;
            height: 500px;
            transition: all .5s ease-in;
            border: 2px solid #3b4248;
            box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
            margin-bottom: 25px;
            &__imageInterior {
                img{
                    width: 300px;
                }
            }
            &__title {
                font-size: 18px;
                font-weight: 600;
            }
            &__complements{
                ul {
                    list-style-type: none;
                    font-size: 14px;
                }
            }
            &__price {
                font-size: 18px;
            }
        }
        label {
            input {
                display: none;
            }
            input:checked:checked ~ .configuration__form__interior__card{
                background-color: #FFB933;
                border: 2px solid #26bfaa;
                animation: bright 0.4s ease-out forwards;
            }
        }
    }
    &__rims {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-row: rims-s/rims-e;
        grid-gap: 20px;
        background-color:#26bfaa;
        padding: 20px;
        
        
        img {
            width: 350px;
        }
        &__card {
            text-align: center;
            transition: all .5s ease-in;
            border: 2px solid #3b4248;
            box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);

            &__model-size {
                font-size: 18px;
                font-weight: 600;
            }
            &__material {
                font-size: 16px;
            }
            &__price {
                font-size: 18px;
            }
        }
        label {
            input {
                display: none;
            }
            input:checked:checked ~ .configuration__form__rims__card{
                background-color: #FFB933;
                border: 2px solid #26bfaa;
                animation: bright 0.4s ease-out forwards;
            }
        }
    }  
}

/* Media queris */
@media (max-width: 998px) {
    .configuration__form{
        &__versions {
            grid-template-columns: 1fr 1fr;
            height: 1600px;
        }
        &__imagen{
            img{
            width: 100%;
            height: 500px;
            }
        }
        &__colors { 
            grid-template-columns: 1fr 1fr;
            height: 450px;
        }
        &__interior {
            grid-template-columns: 1fr;
            &__imageInterior_card img {
                width: 100%;
            }
        }
        &__rims {
            grid-template-columns: 1fr;
            height: 1600px;
        }
    }
}
@media (max-width: 768px) {
    .configuration__form{
        &__versions {
            grid-template-columns: 1fr;
        }
    }
}

/* ANIMATIONS */

@keyframes bright {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(0.9);
    }
    50% {
        filter: brightness(0.8);
    }
    75% {
        filter: brightness(0.9);
    }
    100% {
        filter: brightness(1);
    }
}
