.garage {
    background-image: url('../../static/images/garage/background1.jpg');

    width: 100vw;
    height: calc(100vh - 75px);

    &__content {
        height: calc(100vh - 75px);
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        &__info {

            &__content {
                
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                color: white;
                display: grid;
                grid-template-rows: 100px 300px 100px;
                justify-content: center;
                align-items: center;

                &__name {
                    background-color: rgba($color: #000000, $alpha: 0.2);
                    margin: 10px;
                    font-size: 26px;
                    font-weight: 600;
                    padding: 5px;
                }
                &__description {
                    background-color: rgba($color: #000000, $alpha: 0.2);
                    margin: 10px;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 5px;
                }
                &__contact {
                    background-color: rgba($color: #000000, $alpha: 0.2);
                    margin: 10px;
                    font-size: 24px;
                    font-weight: 600;
                    padding: 5px;                    
                }
            
            }

            &__content::after {
                background-color: black;
                opacity: 0.3;
            }
        }
    }

}
/* Media queries */
@media (max-width: 998px) {
    .garage__content {
        grid-template-columns: 1fr;
    }
}