.vehicles {
    display: grid;
    grid-template-rows: [banner-s] 700px [banner-e description-s] 250px [description-e content-s] 1fr [content-e];
    justify-content: center;
    
    &__banner{
        position: relative;
        grid-row: banner-s/banner-e;
        width: 100vw;
        height: 700px;
        text-transform: uppercase;
           
        
        &__title {
            position: absolute;
            top: 175px;
            margin-left: 140px;
            font-size: 30px;
        }  
        &__slogan {
            position: absolute;
            top: 250px;
            margin-left: 140px;
            font-size: 20px;

        }    
    }

    &__description {
        grid-row: description-s/description-e;
        margin: 40px;
        height: 250px;
        text-align: center;
        display: grid;
        justify-content: center;
    }


    &__versions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;


        &__card {
            width: 300px;
            justify-self: center;
            display: grid;
            &__image{
                justify-self: center;
                width: 250px;
                height: auto;
            }
        }
       
    } 
    &__colors{
        display: grid;
    }
    @media (max-width: 768px) {
        &__versions {
            display: grid;
            background-color: lawngreen;
    grid-template-columns: 100vw;
        }
    }
    @media (mim-width: 768px) and (max-width:998px) {
        &__versions {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

}